<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "url": "https://this-is-us.org/",
      "name": "This Is Us",
      "description": "Preserving our shared legacy and freedom through empathy and compassion.",
      "publisher": {
        "@type": "Organization",
        "name": "This Is Us",
        "logo": {
          "@type": "ImageObject",
          "url": "https://this-is-us.org/images/logo.png"
        }
      },
      "potentialAction": {
        "@type": "SearchAction",
        "target": "https://this-is-us.org/?s={search_term_string}",
        "query-input": "required name=search_term_string"
      }
    }
    </script>
    