{{ define "main" }}
  <h1 class="f2 mb4 tc">Find Events Near You</h1>
  <div class="mw6 center">
    <label for="zipInput" class="db mb2 fw6">Enter ZIP Code</label>
    <input id="zipInput" type="text" placeholder="e.g. 60606"
           class="input-reset ba b--black-20 pa2 w-100 mb2">
    <button id="searchEvents" class="f6 link dim br2 ph3 pv2 mb3 dib white bg-blue w-100">
      🔍 Search Nearby Events
    </button>
  </div>

  <div id="eventsResults" class="mw7 center mt4">
    <p class="f6 gray">Your results will appear here…</p>
  </div>

  <script type="module" src="{{ "js/event-search.js" | relURL }}"></script>
{{ end }}
